<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, chave, index) in pessoa" :key="index">
                {{chave}} = {{valor}} {{index}}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            pessoas: [
                { nome: "Ana", idade: 26, peso: 59 },
                { nome: "Guilherme", idade: 22, peso: 89 },
            ],
        },
    });
</script>
